################################################################################
#  {{ ansible_hostname }} — {{ env | upper }} environment
#  Managed by Ansible ({{ org_name }})
#
#  Unauthorized access is strictly prohibited.
#  All activity on this system is logged and monitored.
################################################################################
